body {
    font-family: 'Arial', sans-serif;
}

.plot-container {
    width: 100%;
    height: 600px;
    margin: 0 auto;
}

label {
    color: #18d26e;
}

.form-range {
    margin-bottom: 15px;
}

#start-button {
    font-size: 18px;
}
